<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/assets/changepasswordold.css" />
    <!-- font awesome -->
    <link rel="stylesheet" href="../public/assets/FontAwesome/css/all.css" />
  </head>

  <body>
    <!-- start of navbar -->
    <div class="navbar">
      <span class="picture">
        <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
      </span>
      <div class="nav-links-container">
        <a href="/user/home" class="nav-links">Home</a>
        <a href="/user/calendar" class="nav-links">Calendar</a>
        <div class="nav-links">
          <i class="fas fa-chevron-circle-down nav-links" id="dropdown-btn"></i>
        </div>
      </div>
    </div>
    <!-- end of navbar -->

    <!-- navbar dropdown -->
    <div id="dropdown-menu" class="dropdown">
      <div id="changepass-bar" class="bars">
        <h5>Change Password</h5>
        <i class="fas fa-exchange-alt nav-links"></i>
      </div>
      <div id="logout-bar" class="bars">
        <h5>Logout</h5>
        <i class="fas fa-sign-out-alt nav-links"></i>
      </div>
    </div>
    <!-- end of navbar dropdown -->
    <div class="container">
      <div id="showcase">
        <div class="logo">
          <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
        </div>
      </div>

      <div id="left">
        <div id="signin">
          <form action="/user/changepassword" method="post">
            <label for="password">Old Password</label>
            <input
              type="password"
              name="oldpassword"
              id="oldpassword"
              class="text-input"
            />
            <label for="password">New Password</label>
            <input
              type="password"
              name="newpassword"
              id="newpassword"
              class="text-input"
              minlength="8"
            />
            <button type="submit" class="primary-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- javascript -->
    <script src="../public/assets/navfunctions.js"></script>
  </body>
</html>
