<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/assets/forgotpassword.css" />
  </head>
  <body>
    <div class="navbar">
      <span class="picture">
        <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
      </span>
    </div>
    <div class="container">
      <div id="showcase">
        <div class="logo">
          <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
        </div>
      </div>

      <div id="left">
        <div id="signin">
          <form action="/changepassword/<%= token %> " method="post">
            <label for="password">New Password</label>
            <input
              type="password"
              name="password"
              id="password"
              class="text-input"
              minlength="8"
            />
            <input type="hidden" name="username" value="<%= username %> " />
            <button type="submit" class="primary-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
