<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cricket MatchMaker</title>
    <!-- css -->
    <link rel="stylesheet" href="../public/assets/forgotpassword.css" />
  </head>

  <body>
    <div class="navbar">
      <span class="picture" style="cursor: pointer">
        <a href="/">
          <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
        </a>
      </span>
    </div>
    <div class="container">
      <div id="showcase">
        <div class="logo">
          <img src="../public/assets/images/logo.PNG" alt="Sluralpright" />
        </div>
      </div>
      <div id="left">
        <h1>Forgot Username/Password</h1>
        <div id="signin">
          <form action="/forgotpassword" method="post">
            <div>
              <label>Email Address</label>
              <input type="email" class="text-input" name="email" id="email" />
            </div>

            <button type="submit" class="primary-btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="alert" id="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      <div id="errormsg"><%= errorMessage %></div>
    </div>
    <!-- javascript -->
    <script src="../public/assets/welcome.js"></script>
  </body>
</html>
