@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");

/* global variables */
:root {
  --calendar-font-family: "Lexend Peta", sans-serif;
  --calendar-font-size: 0.8rem;
}
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100%;
  background: linear-gradient(to right, #131313, black);
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.navbar .picture {
  width: 70px;
  height: 100%;
}

.navbar .picture img {
  width: 100%;
}

.navbar .nav-links-container {
  display: flex;

  width: 50%;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  color: white;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
/* end of navbar */

/* container */
.container {
  position: absolute;
  top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: black;
}

/* calendar dimensions */
.calendar {
  height: 90vh;
  width: 1300px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);
  /* background: linear-gradient(to right, #0078d7, #02daff, #f1f1f1); */
  background: linear-gradient(#fff, rgba(110, 110, 0, 0.5)),
    url("../assets/images/homepage-background.jpg") no-repeat center center;
  background-size: cover;
  font-family: var(--calendar-font-family);
  font-size: var(--calendar-font-size);
  border-top: 4px solid black;
}

/* month box */
.month-box {
  grid-column: 1/5;
  position: relative;
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background: #fd8a5e;
  border: 3px solid black;
}

/* singular date-box */
.date-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 2px;
  border: 2px solid black;
  opacity: 1;
}

.date-box:hover {
  background: #fd8a5e;
  transition: 0.5s all;
}
/* end of singular date-box */

/* button -> select timings */
.calendar-btn {
  margin: auto;
  position: absolute;
  bottom: 3px;
  font-family: var(--calendar-font-family);
  width: 100%;
  margin-bottom: 0.4rem;
  background: transparent;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  outline: none;
}

.calendar-btn:hover {
  font-size: 12px;
}

/* button -> next and prev */
.primary-btn {
  padding: 1px;
  position: absolute;
  top: 25px;
  right: 2px;
  width: 120px;
  height: 35px;
  border-radius: 10px;
  font-family: var(--calendar-font-family);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  outline: none;
}

.primary-btn:hover {
  font-size: 15px;
}

#previous {
  padding: 1px;
  position: absolute;
  top: 63px;
  right: 2px;
}

/* schedule box */
.schedule {
  display: flex;
  flex-direction: column;
  padding: 3px;
  font-family: var(--calendar-font-family);
  font-size: 0.8rem;
  align-items: center;
  margin-left: 0.5rem;
  border: 1px solid black;
  background: #fd8a5e;
  border-top: 4px solid black;
  min-width: 200px;
  overflow-y: scroll;
  min-height: 30vh;
}

.single-slot {
  border: 1px solid black;
  margin: 3px;
  width: 100%;
  padding: 3px;
  position: relative;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  background: #ad8a5e;
}

.close-icon {
  color: red;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 200vh;
  }
  .calendar-btn {
    font-size: 0.5rem;
  }
  .month-box {
    font-size: 1rem;
  }
  .calendar {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  .schedule {
    width: 100%;
    margin: 0;
    overflow-y: visible;
    padding-bottom: 0.5rem;
  }
  .month-box {
    grid-column: 1/4;
    padding-top: 0.2rem;
  }
  .primary-btn {
    top: 0;
  }
  #previous {
    top: 40%;
  }
  .date-box {
    border: 1px solid black;
    font-size: 0.6rem;
  }
  .calendar-btn {
    top: 0;
    right: 0;
    width: 70%;
  }
  .nav-links {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .nav-links {
    font-size: 1.5rem;
  }
}

/* scroll bars */
::-webkit-scrollbar {
  color: grey;
}

::-webkit-scrollbar-thumb {
  color: red;
}

::-webkit-scrollbar-track-piece {
  color: yellow;
}
