@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");

/* global variables */
:root {
  --calendar-font-family: "Lexend Peta", sans-serif;
  --calendar-font-size: 0.8rem;
}
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  height: 10%;
  background: linear-gradient(to right, #131313, black);
  justify-content: space-between;
}

.navbar .picture {
  width: 70px;
  height: 100%;
}

.navbar .picture img {
  width: 100%;
}

.navbar .nav-links-container {
  display: flex;

  width: 50%;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
  font-family: var(--calendar-font-family);
  font-size: 1.5rem;
  color: white;
  align-items: center;
  margin-left: 1rem;
}
/* end of navbar */

/* main body */
.container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.9)),
    url("../assets/images/homepage-background.jpg") no-repeat center center;
  background-size: cover;
}

/* left side */
#showcase {
  width: 40vw;
  height: 80vh;
  background: transparent;
}

#showcase .logo img {
  width: 100%;
}

/* actually the right hand side with the login info */
#left {
  /* Using flex model */
  display: flex;
  /* allows us to control the ratio of the boxes */
  flex: 1;
  /* Is also itself a flex for internal contents */
  flex-direction: column;
  /* Aligns contents centrally */
  align-items: center;
  /* Takes up the entire screen */
  height: 90vh;
  width: 50vw;
  /* Need to assign height before using JC */
  /* JC allows us to centralize vertically */
  justify-content: center;
}

#signin {
  /* Flex model within a flex model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* putting padding at the bottom pushes everything up */
  padding-bottom: 1rem;
  font-family: var(--calendar-font-family);
  color: white;
}

#left h1 {
  font-family: var(--calendar-font-family);
  color: white;
  margin-bottom: 5rem;
}

#signin form {
  width: 80%;
  /* creates the space between the links and the button */
  padding-bottom: 3rem;
}

#signin label {
  font-size: 0.9rem;
  /* Uses LH in order to create that gap between label and box */
  /* Effectively padding */
  line-height: 2rem;
  font-weight: 500;
  /* Padding and Margins don'
    t work on labels * /;
  /* Use line height instead always */
}

#signin .text-input {
  /* creates that space between inputs */
  margin-bottom: 1.3rem;
  /* widens it along screen */
  width: 100%;
  /* curves edges */
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  /* Padding for inputs used to manipulate size */
  padding: 0.5rem 1rem;
  /* Line height also manipulates size */
  line-height: 1.3rem;
}

#signin .secondary-btn,
.or,
.links {
  /* Links slightly smaller area than the above */
  width: 60%;
}

#signin .links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

/* Buttons */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background-color: #f96816;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}

#signin .primary-btn {
  width: 100%;
}

.primary-btn:hover {
  background-color: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #ffff;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 1s;
}

.secondary-btn:hover {
  background-color: #ff7b39;
}

/* The alert message box */
.alert {
  position: absolute;
  top: 100px;
  right: 280px;
  padding: 5px;
  border: 1px solid red;
  border-radius: 2px;
  width: auto;
  background-color: #f44336;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  float: right;
  font-size: 16px;
  /* line-height: 20px; */
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  #showcase {
    display: none;
  }
  #left {
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 700px) {
  .navbar {
    display: none;
  }
  .container {
    height: 100%;
  }
  #left {
    height: 100%;
  }
  #showcase {
    height: 100%;
  }
}

@media screen and (max-height: 580px) {
  .navbar {
    display: none;
  }
  .container {
    height: 100%;
  }
  #left {
    height: 100%;
  }
  #showcase {
    display: none;
  }
}
