@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
/* global variables */
:root {
  --calendar-font-family: "Lexend Peta", sans-serif;
  --calendar-font-size: 0.8rem;
  --alert-font-family: "Lucida Console", Courier, monospace;
}
/* global styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  height: 10%;
  background: linear-gradient(to right, #131313, black);
  justify-content: space-between;
}

.navbar .picture {
  width: 70px;
  height: 100%;
}

.navbar .picture img {
  width: 100%;
}

.navbar .nav-links-container {
  display: flex;

  width: 50%;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav-links {
  display: flex;
  text-decoration: none;
  font-family: var(--calendar-font-family);
  font-size: 1.5rem;
  color: white;
  align-items: center;
  margin-left: 1rem;
}
/* end of navbar */

/* main body */
.container {
  display: flex;
  flex-direction: row;
  height: 90%;
  background: linear-gradient(#000000, rgba(0, 0, 0, 0.5)),
    url("../assets/images/homepage-background.jpg") no-repeat center center;
  background-size: cover;
}

/* left side */
#showcase {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

/* actually the right hand side with the login info */
#left {
  /* Using flex model */
  display: flex;
  /* allows us to control the ratio of the boxes */
  flex: 1;
  /* Is also itself a flex for internal contents */
  flex-direction: column;
  /* Aligns contents centrally */
  align-items: center;
  /* Takes up the entire screen */
  height: 90vh;
  width: 50vw;
  /* Need to assign height before using JC */
  /* JC allows us to centralize vertically */
  justify-content: center;
  overflow: hidden;
}

#signin {
  /* Flex model within a flex model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* putting padding at the bottom pushes everything up */
  padding-bottom: 1rem;
  font-family: var(--calendar-font-family);
  color: white;
}
#signin form {
  width: 80%;
  /* creates the space between the links and the button */
  padding-bottom: 3rem;
}
#signin .logo {
  height: 240px;
  width: 240px;
  overflow: hidden;
}

#signin .logo img {
  width: 100%;
}

#signin label {
  font-size: 0.9rem;
  /* Uses LH in order to create that gap between label and box */
  /* Effectively padding */
  line-height: 2rem;
  font-weight: 500;
  /* Padding and Margins don'
    t work on labels * /;
  /* Use line height instead always */
}

#signin .text-input {
  /* creates that space between inputs */
  margin-bottom: 1.3rem;
  /* widens it along screen */
  width: 100%;
  /* curves edges */
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  /* Padding for inputs used to manipulate size */
  padding: 0.5rem 1rem;
  /* Line height also manipulates size */
  line-height: 1.3rem;
  font-family: var(--calendar-font-family);
}

#signin .secondary-btn,
.or,
.links {
  /* Links slightly smaller area than the above */
  width: 70%;
}

#signin .links a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

#signin .or {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.2rem;
  align-items: center;
}

#signin .or .bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #aaa;
}

/* Buttons */
.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background-color: #f96816;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.5s;
}

#signin .primary-btn {
  width: 100%;
}

.primary-btn:hover {
  background-color: #ff7b39;
}

.secondary-btn {
  padding: 0.7rem 0.4rem;
  height: 2.7rem;
  display: block;
  border: 1px solid #ffff;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 1s;
}

.secondary-btn:hover {
  background-color: #ff7b39;
}

/* The alert message box */
.alert {
  position: absolute;
  top: 260px;
  right: 20%;
  padding: 2px;
  background-color: #f44336;
  color: white;
  font-family: "Lucida Console", Courier, monospace;
  border: 1px solid red;
  border-radius: 2px;
  width: auto;
  color: white;
}

/* The close button */
.closebtn {
  margin-left: 2px;
  color: white;
  float: right;
  font-size: 16px;
  /* line-height: 20px; */
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* START OF SHOWCASE */
#showcase h3 {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "Roboto Slab", serif;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 60%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  padding: 2px;
  border: 1px solid white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

.mySlides img {
  height: 100%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 35px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.7s;
  animation-name: fade;
  animation-duration: 0.7s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* END OF SHOWCASE */

/* Media Queries */
@media screen and (max-width: 800px) {
  #showcase {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .navbar {
    display: none;
  }
  .container {
    height: 100%;
  }
  #left {
    height: 100%;
  }
  #showcase {
    height: 100%;
  }
}

@media screen and (max-height: 640px) {
  .navbar {
    display: none;
  }
  #signin .logo {
    display: none;
  }
  .container {
    height: 100%;
  }
  #signin {
    height: 100%;
  }
  #left {
    height: 100%;
  }
  .secondary-btn {
    height: 3.5rem;
  }
}
